{% block ccs %}
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="{{ url_for("static",filename="css/font.css") }}">
    <link rel="stylesheet" href="{{ url_for("static",filename="css/xadmin.css") }}">
    <script type="text/javascript" src="{{ url_for("static",filename="js/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static",filename="lib/layui/layui.js") }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for("static",filename="js/xadmin.js") }}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="{{ url_for("static",filename="js/html5.min.js") }}"></script>
      <script src="{{ url_for("static",filename="js/respond.min.js") }}"></script>
    <![endif]-->
{% endblock %}
{% block content %}
    <body>
    <div class="x-body">
        <form class="layui-form" method="post">
            <div class="layui-form-item">
                {% for msg in get_flashed_messages(category_filter=["err"]) %}
                    <p class="login-box-msg" style="color: red">{{ msg }}</p>
                {% endfor %}
                {% for msg in get_flashed_messages(category_filter=["ok"]) %}
                    <p class="login-box-msg" style="color: green">{{ msg }}</p>
                {% endfor %}
                <label for="L_username" class="layui-form-label">
                    用户名:
                </label>
                <div class="layui-input-inline">
                    <input type="text" id="L_username" name="username" readonly="readonly" value="{{ user.username }}"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>旧密码:
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_repass" name="oldpwd" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">
                    <span class="x-red">*</span>新密码:
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_pass" name="pwd" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">
                    6到16个字符
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                    <span class="x-red">*</span>确认密码:
                </label>
                <div class="layui-input-inline">
                    <input type="password" id="L_repass" name="repwd" required="" lay-verify="required"
                           autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label for="L_repass" class="layui-form-label">
                </label>
                <button class="layui-btn" lay-filter="save" lay-submit="">
                    确认
                    {{ form.csrf_token }}
                </button>
            </div>
        </form>
    </div>
{% endblock %}
{% block js %}
    <script>
        layui.use(['form', 'layer'], function () {
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer;

            //监听提


        });
    </script>
    <script>var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();</script>
{% endblock %}